footer {
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
  padding: 4em;
  display: flex;
  gap: 40px;
  bottom: 0;
  position: static;
}

.footer-content-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content-container a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  /* margin: 0.7em 0.4em; */
}

footer :last-child i {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
  }
  footer p {
    width: 100%;
  }
}
