* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --text-color: rgb(66, 66, 66);
}

.google-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  height: 80px;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 100;
}

.logo-heading {
  color: var(--text-color);
}

.google-navbar ul {
  display: flex;
  gap: 2em;
}

.google-navbar ul a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: all ease 0.3s;
}

.device-catergories {
  display: flex;
  align-self: center;
  gap: 40px;
  margin-left: 4em;
}

.device-catergories a {
  padding: 0.9em 2em;
  background-color: whitesmoke;
  border-radius: 15px;
  text-decoration: none;
}

/* Link hover */
a:hover {
  color: rgb(25, 141, 64);
}

/* Main */
.show-page {
  display: block;
}

.hide-page {
  display: none;
}

.hero-are {
  display: flex;
  gap: 4em;
  width: 100%;
  padding: 0.4em 4em;
}

.playnow {
  position: relative;
  background-image: url("./public/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(53, 119, 70);
}

.playnow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 1;
}

.playnow .content {
  position: absolute;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 58px;
  z-index: 2;
}

.headline {
  background-color: #e8f0fe;
  height: 100px;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
}

/* Games */
.card-1,
.card-2,
.card-3 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  margin: 20px;
  max-width: 300px;
  position: relative;
}

.card-1::after,
.card-2::after,
.card-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card-1 {
  background-image: url("./public/Best-Poki-Games-in-2023-copy.webp");
  background-size: cover;
}

.card-2 {
  background-image: url("./public/game2.jpeg");
  background-size: cover;
}

.card-3 {
  background-image: url("./public/game1.avif");
  background-size: cover;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 2;
}

.price {
  font-size: 1.5em;
  color: #388e3c;
}

.card-title {
  font-size: 1.2em;
  margin: 10px 0;
  color: #e2dada;
}

.card-description {
  font-size: 0.9em;
  color: #f5f2f2;
}

.card-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #0056b3;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: scale(1.05);
}

.games-container {
  width: 100%;
  display: flex;
}

.watch-demo {
  padding: 0.5em 3em;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(92, 163, 78);
  color: white;
}

/* top-charts */
.top-charts {
  width: 100%;
  display: flex;
  padding: 0.5em 4em;
}
