* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --text-color: rgb(66, 66, 66);
}
.google-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}
.logo-heading {
  color: var(--text-color);
}
.google-navbar ul {
  display: flex;
  gap: 2em;
}
.google-navbar ul a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: all ease 0.3s;
}

.device-catergories {
  display: flex;
  align-self: center;
  gap: 40px;
  margin-left: 4em;
}
.device-catergories a {
  padding: 0.9em 2em;
  background-color: whitesmoke;
  border-radius: 15px;
  text-decoration: none;
}

/* link hover */
a:hover {
  color: rgb(25, 141, 64);
}

/* main */
.show-page {
  display: block;
}
.hide-page {
  display: none;
}
.hero-are {
  display: flex;
  gap: 4em;
  width: 100%;
  padding: 0.4em 4em;
}
